<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-extrabold font-nunito text-4xl m-2">Post Job</h1>
    <%= link_to 'New submission', new_submission_path, class: "font-extrabold font-nunito rounded-lg py-3 px-5 m-2 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="submissions" class="min-w-full">
    <%= render @submissions %>
  </div>
</div>
