<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Post Job</h1>
    <%= link_to 'New submission', new_submission_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="submissions" class="min-w-full">
    <%= render @submissions %>
  </div>
</div>
